/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}
.header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px #000 solid;
  padding-inline: clamp(14px, 8vw, 120px);
  padding-block: clamp(120px, 20vw, 128px);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: #fff;
  inline-size: var(--content-width);
}
.title {
  font-size: clamp(49px, 6vw, 65px);
  line-height: 1;
}
.subtitle {
  font-size: clamp(14px, 2vw, 23px);
  line-height: 1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.card {
  inline-size: var(--content-width);
  background-color: #fff;
  border: 2px solid #000;
}
.card__title {
  font-variation-settings: "wght" var(--title-weight);
  font-size: 18px;
}
.card__text {
  font-variation-settings: "wght" var(--text-weight);
  font-size: 18px;
  line-height: 21px;
}
.card__image {
  display: block;
  inline-size: 100%;
}
.card__image-wrapper {
  position: relative;
}
.card__label {
  position: absolute;
  font-family: var(--accent-font);
  right: 25px;
  top: 25px;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
}
@supports (
  (-webkit-text-stroke: 1px var(--stroke-color)) or
(text-stroke: 1px var(--stroke-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}
.card__body {
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 25px;
}
.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}
.card__like-button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  padding: 12.5px 37px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
}
.card__like-button:hover {
  background-color: #000;
  color: #fff;
}
.card__like-button:focus {
  box-shadow: 2px 2px 0px 0px #000;
}
.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 39px;
  block-size: 38px;
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
}
.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  border: 2px solid #000;
  padding: 17px 20px;
  cursor: pointer;
}
.save-button__icon {
  inline-size: 21px;
  block-size: 21px;
  flex-shrink: 0;
}

.sprites {
  position: absolute;
  inline-size: 0;
  block-size: 0;
  overflow: hidden;
}
.dialog {
  border: 2px solid #000;
  padding: 30px;
  max-block-size: 353px;
}
.dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}
.dialog__form {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}
.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.dialog__text {
  font-size: 14px;
  line-height: 1.5;
}
.dialog__button {
  font-size: 14px; 
  line-height: 0.9;
  padding: 12.5px 132.5px;
  background-color: transparent;
}